<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v1.1.0" sku=".NETFramework,Version=v1.1.0" />
  </startup>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy />
      <bypasslist />
      <module />
    </defaultProxy>
  </system.net>
</configuration>